body {
    margin-top:-1.03%;
    margin-left:-2.5%

}
#menu{
    display:none;
}
#btnMenu{
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    margin-left:95%;
    margin-top:1%
}
.mList{
    display: inline-block;
    background-color: #DFD0C2;
    height: 300px;
    width: 33%;
    margin: -2px;
    min-width: 400px;
    text-align: center;
}
.mList:hover{
    background-color: #D1C4B6;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 35px;

}