body {
    margin-top:-1.03%;
    margin-left:-2.5%

}
#menu{
    display:none;
}
/*Estilos Boton para abrir menu*/
#btnMenu{
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    margin-left:95%;
    margin-top:1%
}
/*Estilos del mune */
.mList{
    display: inline-block;
    background-color: #DFD0C2;
    height: 300px;
    width: 33%;
    margin: -2px;
    min-width: 400px;
    text-align: center;
}
/*Cuando pasa el raton cambia de color*/
.mList:hover{
    background-color: #D1C4B6;
}
/*Esto alinea el texto en el centro del cuadrado*/
a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 35px;

}
#btnLeft{
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    margin-left: 4%;
    margin-top: 4%;
}
#btnRight{
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    margin-left: 97%;
    margin-top: 4%;
}
#sldSize{
 width: 296%;
}
.sldStyle{
    display: inline-block;
    width: 33%;
    height: 200px;
    background-color: yellow;
    margin-left: -4px;
}